body {
  margin: 0;
  /* background: pink; */
}

.title-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  /* background: cyan; */
}

#title {
  font-size: 300%;
}

.body-box {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 0 auto;
  justify-content: center;
  padding: 5%;
  width: auto;
  font-size: 200%;
  text-align: center;
}

#button-box {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 0 auto;
  justify-content: center;
  gap: 15%;
}
